---
layout: default
title: "Home"
---

<ul class="posts">
    {% for post in paginator.posts %}
        {% include block.html %}
        {% if forloop.index == 1 %}
        
        {% unless paginator.previous_page %}
        {% include notify.html %}
        {% endunless %}

        {% else %}
        {% endif %}
    {% endfor %}

    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Prev</a>
        {% else %}
        {% endif %}
        
        <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &rarr;</a>
        {% else %}
        {% endif %}
    </div>
</ul>
