<style>

div.block {
    margin-bottom: 1.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 1.5rem;
    padding-top: 3.25rem;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 .25rem 1rem rgba(0,0,0,.1);
    position: relative;
}
div.block.not_displayed {
    display: none;
}
div.block p {
    font-size: 1rem;
    display: block;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}
div.block p.date {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: .9rem;
    line-height: 1;
    
}
div.block hr {
    display: none;
}
div.block img {
    max-width: 100%;
}
div.block * {
    font-style: normal !important;
}
div.block *:last-child {
    margin-bottom: 0;
}

</style>

<div class="block">
    <p class="date">
        {{ post.date | date: "%A, %B %-d, %Y" }}
    </p>
    {{ post.content }}
</div>