<footer>
  <div class="inner">
      <h1>&copy; {{ site.title }} {{ 'now' | date: "%Y" }}</h1>
      <p class="left">
        Built by <a href="{{ site.author_url }}" target="_blank">{{ site.author }}</a>
        &nbsp;&bull;&nbsp;
        <a href="{{ site.blog_post }}" target="_blank">About</a>
        &nbsp;&bull;&nbsp;
        <a href="{{ site.github_url }}" target="_blank">GitHub</a>
        &nbsp;&bull;&nbsp;
        <a href="{{ site.dev_url }}" target="_blank">DEV</a>
      </p>
  </div>
</footer>