<form action="https://gabrielromualdo.us6.list-manage.com/subscribe/post?u=f6efbd049832aa9f3fcedc8a5&amp;id=7a9ec7fdd1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="block email">
    <div class="inner">
      <div class="meta">
        <h1>Get notified of updates</h1>
        <p>Sign up to get emails from us.</p>
      </div>
      <div class="input-container">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="someone@example.com">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6efbd049832aa9f3fcedc8a5_7a9ec7fdd1" tabindex="-1" value=""></div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Get Notified</button>
      </div>
    </div>
  </div>
</form>