<style>

div.searchbar {
    box-sizing: border-box;
    padding: .75rem 1.5rem;
    margin-top: .75rem;
    margin-bottom: 1.75rem;
    border-bottom: 1px solid #f4f4f4;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 9998;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
}

input.search {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    box-sizing: border-box;
    padding: .75rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    transition: transform .2s, border-color .2s, background-color .2s, box-shadow .2s;
    outline: none;
}

input.search::placeholder {
    color: #888;
}
input.search:focus {
    transform: scale(1.02);
    border-color: #666;
    background-color: #fcfcfc;
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.1);
}

@media only screen and (max-width: 750px) {
    div.toparea > input {
        font-size: 1.1rem;
    }
}

</style>

<div class="searchbar">
    <input type="text" class="search" placeholder="Search {{ site.posts | size }} Developer Jokes..." oninput="updateSearch(this.value);" spellcheck="false">
</div>

<script>
/* search functionality */
const jokes = [
    {% for post in site.posts %}
    {
        "date": "{{ post.date | date: "%A, %B %-d, %Y" }}",
        "joke": "{{ post.joke | markdownify | strip_html | strip_newlines }}"
    },
    {% endfor %}
];

const updateSearch = (query) => {
    // lower case
    query = query.toLowerCase();

    // list of block elements
    const blocks = Array.from(document.querySelectorAll("div.block"));

    // loop through each block and get rid of any classes
    blocks.forEach((item, index) => {
        item.classList.remove("not_displayed");
    });

    // loop through each joke and handle according to search query
    jokes.forEach((joke, index) => {
        // if query does not match, don't display
        if((joke.date.toLowerCase().indexOf(query) == -1) && (joke.joke.toLowerCase().indexOf(query) == -1)) {
            blocks[index].classList.add("not_displayed");
        }
    });
}
</script>