<style>

div.toparea {
    display: block;
    text-align: center;
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 0 .5rem;
}
div.toparea > h1 {
    font-size: 3rem;
    letter-spacing: -.075rem;
}
div.toparea > p {
    font-size: 1.25rem;
    opacity: .5;
    margin-top: .5rem;
    display: block;
}

div.toparea > div.row {
    display: block;
    margin-top: 1.5rem;
    font-size: 1rem;
}
div.toparea > div.row > p.left {
    float: left;
}
div.toparea > div.row > p.right {
    float: right;
}

@media only screen and (max-width: 750px) {
    div.toparea > h1 {
        font-size: 2.25rem;
    }
    div.toparea > p {
        font-size: 1rem;
    }
    div.toparea > div.row {
        font-size: .9rem;
    }
    div.toparea > div.row > p.left, div.toparea > div.row > p.right {
        float: none;
        text-align: center;
        line-height: 1.5;
    }
}
@media only screen and (max-width: 550px) {
    div.toparea > h1 {
        font-size: 1.85rem;
    }
}

</style>

<div class="toparea">
    <h1>{{ site.title }}</h1>
    <p>{{ site.short_description }} 500+ jokes to date!</p>
</div>