<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <script>
        const dates = [{% for post in site.posts %}"{{ post.date | date: "%A, %B %-d, %Y" }}",{% endfor %}];
        const urls = [{% for post in site.posts %}"{{ post.url }}",{% endfor %}];
    </script>
    {% include toparea.html %}
    {% include nav.html %}
    
    <div class="container">
        {{ content }}
    </div>
    
    {% include footer.html %}

    <!-- Cookies! -->
    <script src="https://private.xtrp.io/projects/cookies_insert/cookiesBanner.js"></script>
    <script>
    __createCookiesBanner(750, 14, "dailydeveloperjokes.github.io");
    </script>

    <!-- Remove "_" bug in post text -->
    <script src="/assets/js/script.js"></script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60f392defb0a7974"></script>

</body>
</html>
